body{
  height: 100vh;
  width: 100vw;
  background-color: black;

  font-family: 'Great Vibes', cursive;
/*  font-family: 'Mr De Haviland', cursive;*/
  
  color: white;
  position: absolute;
  
  border: 5px dotted red;
}

h1{
  position: relative;
  font-size: 10vh;
  font-weight: 200;
  text-align: center;
  margin: 10% 0 5px 0;
  
/*  border: 2px dotted pink;*/

}


h2{
  position: relative;
  font-size: 10vh;
  font-weight: 200;
  text-align: center;
  margin: 5px 0;

/*  border: 2px solid green;*/
}

p{
  display: block;
  position: relative;
  font-size: 5vh;
  text-align: right;
  margin: 5px 10% 10% 0;
  
  border: 2px dotted yellow;
}

img{
  position: relative;
  height: 50vh;  
/*  border: 1px dotted teal;*/
}
