html{
  height: 100vh;
  width: 100vw;
  background-color: black;

  font-family: 'Great Vibes', cursive;
/*  font-family: 'Mr De Haviland', cursive;*/
  
  color: white;
  border: 5px dotted red;
  position: relative;
  
}

h1{
  position: relative;
  font-size: 10vh;
  font-weight: 200;
  border: 2px dotted pink;
  text-align: center;
  margin: 10% 0 5px 0;
}

/*
#secondary{
  height: 100vh;
  width: 100vw;
*/
/*
  border: 2px solid violet;
  position: relative;
  margin: 0;
  bottom: -50%;
*/
}

h2{
  position: relative;
  font-size: 15vh;
  font-weight: 200;
  text-align: center;
  margin: 5px 0;

  border: 2px solid green;
}

p{
  display: block;
  position: relative;
  font-size: 6vh;
  text-align: right;
  border: 2px dotted yellow;
  margin: 5px 10% 0 0;
}

img{
  position: relative;
  height: 50vh;
  margin: 0 35%;
  border: 1px dotted teal;
}
